@media print {
    @page {
        size: letter;
        margin: 1.9cm 1.9cm;
    }

    @page :first {
        margin-top: 2.5;
    }

    body {
        padding: 0 !important;
    }

    a:after {
        content: '' !important;
    }

    .wrapper {
        box-shadow: none;

        .avatar img {
            max-width: 100px !important;
        }
    }

    footer {
        display: none;
    }
}
